doctype html
html(lang='en')
  include ../common/head.pug
  +head("MyNodeJS")
  body
    header
        include ../common/navbar.pug
        +navbar(user)
        .container
            .row.align-items-center
            .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
    .body        
        .container
            h1 Lead
            table.table
                th UUID
                th Email
                th Name
                th Manage
                tr(id=lead.id)
                    td <span> #{lead.id}</span>
                    td <span> #{lead.email}</span>
                    td <span> #{lead.name}</span>
                    td 
                        form(action="/lead/" + lead.id + "/delete", method="POST")
                        a(href="/lead/" + lead.id + "/edit").btn.btn-outline-success.mr-2 Edit
                        button(type="submit").btn.btn-outline-danger Delete
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')

    //- h1 Lead Display
    //- table
    //-     tr
    //-         td
    //-             <span> #{lead.id}</span>
    //-         td
    //-             <span> #{lead.email}</span>
    //-         td
    //-             <span> #{lead.name}</span>
    //-         td
    //-             a(href="/lead/" + lead.id + "/edit" ) Edit